.callback {
    padding: 70px 0 50px 0;
}

.wrapper-callback {
    width: 100%;
    background-image: url("../img/background_feedback.png");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    max-width: 1601px;
    margin: 0 auto;
}

.callback__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #FFFFFF;
}

.callback__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 19px;
    margin-right: 24px
}

.callback__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 48px;
}

.callback__form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 17px;
}

.callback__input {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 426px;
    min-height: 44px;
    padding: 9px 0 9px 25px;
    background-color: transparent;
    border-color: #FFFFFF;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.callback__label {
    margin-bottom: 31px;
}

.callback__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 218px;
    height: 48px;
    background-color: var(--main-color);
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 34px;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
}

.callback__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.callback__description a {
    color: #4A76A8;
    border-bottom: 1px solid #4A76A8;
}

@media (max-width: 1024px) {
    .callback__title{
        font-size: 32px;
        line-height: 38px;
        padding-left: 8px;
        margin: 0 0 16px 0;
    }

    .callback__subtitle {
        font-size: 20px;
        line-height: 23px;
        padding-left: 34px;
        margin-bottom: 47px;
    }

    .callback__form {
        padding-left: 16.5px;
        gap: 15px;
    }

    .callback__input {
        font-size: 20px;
        line-height: 23px;
        width: 380px;
        height: 40px;
        padding: 9px 0 9px 21px;
    }

    .callback__label {
        margin-bottom: 32px;
    }

    .callback__description{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .callback__button {
        margin-bottom: 15px;
    }
}

@media (max-width: 560px) {
    .callback__title{
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 13px;
    }

    .callback__subtitle {
        font-size: 16px;
        line-height: 18px;
    }

    .callback__input {
        font-size: 16px;
        line-height: 18px;
        max-width: 560px;
    }

    .callback__description{
        font-size: 13px;
        line-height: 15px;
    }

    .callback__input {
        max-width: 350px;
    }

}

@media (max-width: 460px) {
    .callback__title{
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 13px;
    }

    .callback__subtitle {
        font-size: 16px;
        line-height: 18px;
    }

    .callback__input {
        font-size: 16px;
        line-height: 18px;
        max-width: 560px;
    }

    .callback__description{
        font-size: 13px;
        line-height: 15px;
    }

    .callback__input {
        max-width: 350px;
    }
}

@media (max-width: 465px) {
    .callback {
        padding: 30px 0;
    }

    .callback__title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .callback__subtitle {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 35px;
    }

    .callback__input {
        font-size: 14px;
        line-height: 16px;
        width: 300px;
    }

    .callback__label {
        margin-bottom: 24px;
    }

    .callback__description{
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }

    .callback__button {
        font-size: 16px;
        line-height: 19px;
    }

    .callback__input {
        max-width: 350px;
    }
}

@media (max-width: 364px) {
    .callback__subtitle {
        letter-spacing: 0;
    }
}

@media (max-width: 320px) {
    .callback {
        max-width: 320px;
        height: 398px;
        padding: 31px 0 30px;
    }

    .callback__title {
        padding: 0 0;
        margin-right: 17px;
    }

    .callback__subtitle {
        padding: 0 0;
    }

    .callback__form {
        padding: 0 0;
    }

    .callback__input {
        width: 290px;
    }

    .callback__button {
        max-width: 174px;
        height: 38px;
    }

}




